@font-face {
    font-family: Proxima Nova Bold;
    src: url('../fonts/Proxima Nova Bold.otf');
}
body{
    margin: 0;
    width: 1500px;
    }
.block {
    width: 1500px;
    height: 600px;
    background: url(../images/1.png);
    color: #aac4c4;
}
.block >div{
    overflow: hidden;
}
.block nav
{
    margin: 25px 220px 0 0;
    float: right;
}
.block .part1 {
    list-style: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    }
.block .part1 li {
    float: left;
    margin: 0 5px 0 0;
    padding: 10px;
}
.block a {
    color: #aac4c4;
    text-decoration: none;
    }
.block a:hover {
    text-decoration: underline;
}
.block .part1 li.cat {
    background-color: #b3caca;
    border-bottom: none;
    cursor: pointer;
    border-radius: 2px;
}
.block li.cat a:hover {
    text-decoration: none;
}
.block .part1 li.cat a {
    color: #ffffff;
    font-size: 12px;
}
.block .wapik {
    display: block;
    font-size: 29px;
    margin: 33px 0 0 220px;
    text-transform: uppercase;
    float: left;
    font-family: Proxima Nova Bold;
    line-height:0.8;
}
.block .line {
    display: block;
    float: left;
    margin: 33px 0 0 26px;
    border-left: 1px solid #b3caca;
    height: 20px;
        }
.block .tel {
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    color: #ffffff;
    margin: 35px 0 0 25px;
    background: url(../images/tel.png);
    background-repeat: no-repeat;
    display: block;
    float: left;
    padding: 0 0 0 20px;
    text-decoration: none;
}
.block .welcome {
    margin: 240px 0 0 220px;
    display: block;
    font-family: 'Roboto', sans-serif;
    font-size: 38px;
    color: #ffffff;
    clear: both;
}
.block .text {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #d9e4e4;
    display: block;
    margin: 10px 0 0 220px;
    width: 600px;
}
.block .more {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: #d7e1e1;
    text-transform: uppercase;
    display: block;
    margin: 23px 0 0 220px;
    background-color:#6fb048;
    cursor: pointer;
    width: 185px;
    border-radius: 2px;
    text-align: center;
    padding: 23px 0 23px 0;
    line-height: 2px;
          }
.block a:hover {
    text-decoration: none;
}
.kva {
    width: 1500px;
   }
.kva .best {
    margin: 95px 0 0 0;
    font-family: 'Roboto', sans-serif;
    font-size: 32px;
    color: #0f5f5c;
    text-align: center;
}
.kva .line2 {
    margin: 20px 720px 20px 720px;
    border-top: 1px solid #6fb048;
}
.kva .miay {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: #acc4c3;
    text-align: center;
}
.tabl {
    width: 1500px;
    height: 175px;
    font-family: 'Roboto', sans-serif;
    margin: 70px 0 0 0;
    list-style: none;
    font-size: 14px;
    color: #83a7a5;
    text-align: center;
}
.title{
    font-size: 16px;
    color: #0f5f5c;
  }
.tabl li {
    width: 333px;
    display: inline-block;
    margin: 0 10px;
}
.cross {
    width: 1500px;
    margin: 180px 185px 70px 220px;
    font-family: 'Roboto', sans-serif;
    list-style: none;
}
.cross li {
    width: 495px;
    display: inline-block;
    margin: 0 35px 70px 35px;
}
.cross .k5 {
    background: url(../images/5.png);
    }
.cross .k6 {
    background: url(../images/6.png);
}
.cross .k7 {
    background: url(../images/7.png);
}
.cross .k8 {
    background: url(../images/8.png);
}
.cross .k9 {
    background-repeat: no-repeat;
    padding: 0 0 10px 50px;
    margin: 0;
}
.telephone {
    width: 1500px;
    font-family: 'Roboto', sans-serif;
    background: #eef1ec;
    }
.telephone .font {
    font-family: 'Roboto Light', sans-serif;
    font-size: 32px;
    color: #0f5f5c;
    margin: 145px 0 15px;
   }
.telephone .cat {
    margin: 75px 0 10px;
    text-align: center;
        }
.telephone .line {
    border-top: 1px solid #6fb048;
    margin: 0 715px 20px 715px;
}
.telephone .text {
    text-align: center;
    font-size: 15px;
    color: #83a7a5;
}
.telephone .home {
    margin: 25px 90px 0 240px;
}
.telephone .right {
    margin: 10px 225px 0 0;
    float: right;
    width: 490px;
}
.telephone .abc {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #83a7a5;
    line-height: 1.5;
}
.telephone .ab {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #83a7a5;
    line-height: 1.5;
    list-style: none;
    margin: 10px 0 0;
    padding:0;
    }
.telephone li {
    background: url(../images/circle.png);
    background-repeat: no-repeat;
    padding:0 0 15px 35px;
}
.girl {
    width: 1500px;
    overflow: hidden
}
.girl .text {
    font-family: 'Merriweather', serif;
    font-size: 22px;
    line-height: 1.5;
    color: #83a7a5;
    text-align: left;
    float: left;
    margin:230px 0 0 222px;
    width: 510px;
}
.girl .home {
    margin: 140px 222px 140px 135px;
}
.girl .val {
    color: #6fb048;
    font-family: 'Roboto Medium', sans-serif;
    font-size: 14px;
    margin: 25px 0 10px 0;
    text-align: left;
}
.girl .dir {
    font-family: 'Roboto Regular', sans-serif;
    font-size: 14px;
   }
.map {
    width: 1500px;
    background: #eef1ec;
}
.map .text {
    font-family: 'Roboto Light', sans-serif;
    color: #0f5f5c;
    line-height: 1.5;
    text-align: left;
    float: left;
    width: 495px;
    margin: 170px 0 0 222px;
}
.map h1 {
    font-size: 32px;
    margin: 0;
}
.map .ex {
    font-family: 'Roboto Regular', sans-serif;
    font-size: 14px;
    margin: 20px 0 20px;
    color: #83a7a5;
}
.map .home {
    margin: 60px 0 90px 65px;
}
.plan {width: 1500px;
}
.plan h1 {
    text-align: center;
    font-family: 'Roboto Light', sans-serif;
    font-size: 32px;
    color: #085f5c;
    margin: 97px 0 15px;
}
.plan .line {
    margin: 0 720px 20px 720px;
    border-top: 1px solid #6fb048;
}
.plan .fusce {
    font-family: 'Roboto Regular', sans-serif;
    font-size: 15px;
    text-align: center;
    color: #83a7a5;
    margin: 0 500px 40px;
}
.plan ul {
    list-style: none;
    margin: 40px 370px 80px 369px;
    float: left;
    padding: 0;
    border: 1px solid #c1d3d2;
}
.plan li {
    width: 252px;
    float: left;
}
.plan .basic {
    font-family: 'Roboto Medium', sans-serif;
    font-size: 15px;
    color: #79b554;
    text-align: center;
    text-transform: uppercase;
    margin: 29px 0 30px 0;
}
.plan .price {
    font-family: 'Montserrat Regular', sans-serif;
    font-size: 65px;
    color: #0f5f5c;
    display: block;
    text-align: center;
    font-weight: bold;
    }
.plan .month {
    font-family: 'Roboto Regular', sans-serif;
    font-size: 14px;
    text-align: center;
    color: #0f5f5c;
    display: block;
    font-weight: bold;
    margin: 0 0 17px;
}
.plan .kva {
    width: 253px;
    font-family: 'Roboto Regular', sans-serif;
    font-size: 14px;
    text-align: center;
    color: #83a7a5;
}
.plan .kva p {
    margin: 8px 0;
}
.plan a {
    font-family: 'Montserrat Regular', sans-serif;
    font-size: 13px;
    text-transform: uppercase;
    color: #ffffff;
    background-color:#83a7a5;
    cursor: pointer;
    border-radius: 2px;
    list-style: none;
    text-align: center;
    text-decoration: none;
    margin: 17px 55px 30px 55px;
    padding: 15px 25px;
    display: block;
}
.plan .green {
    background-color: #6fb048;
}
.plan .border {
    border-left: 1px solid #c1d3d2;
    border-right: 1px solid #c1d3d2;
}
.tail {
    width: 1500px;
}
.tail .include {
    font-family: 'Roboto Light', sans-serif;
    font-size: 22px;
    text-align: center;
    color: #0f5f5c;
    }
.tail .line {
    border-top: 1px solid #6fb048;
    margin: 20px 718px 35px 718px;
}
.tail ul {
    list-style: none;
    font-family: 'Roboto Regular', sans-serif;
    font-size: 14px;
    color: #83a7a5;
    height: 155px;
    width: 1500px;
    margin: 0 0 45px 220px;
    }
.tail li {
    background: url(../images/notes.png);
    background-repeat: no-repeat;
    padding:0 0 15px 35px;
    margin: 5px 0;
    display: block;
    float: left;
    width: 30%;
}
.end {
    width: 1500px;
}
.end .help {
    margin: 0 720px 15px;
}
.end .line {
    border-top: 1px solid #6fb048;
    margin: 20px 718px 35px 718px;
    }
.end .text {
    margin: 20px 480px 40px;
    font-family: 'Roboto Regular', sans-serif;
    font-size: 15px;
    color: #83a7a5;
    text-align: center;
    }
.end a {
    font-family: 'Roboto Regular', sans-serif;
    font-size: 14px;
    color: #0f5f5c;
    text-align: center;
    text-decoration: none;
    margin: 0 665px 95px;
}
.download {
    overflow: hidden;
    width: 1500px;
    height: 200px;
    background: url(../images/download.png);
}
.download .text {
    width: 548px;
    margin: 80px 0 0 222px;
    float: left;
    }
.download .text h1 {
    font-family: 'Roboto Light', sans-serif;
    font-size: 28px;
    color: #0f5f5c;
    margin: 0;
}
.download .text p {
    font-family: 'Roboto Regular', sans-serif;
    font-size: 15px;
    color: #83a7a5;
    margin: 5px 0 0 0;
    float: left;
}
.download a {
    display: block;
    float: right;
    font-family: 'Montserrat Regular', sans-serif;
    font-size: 13px;
    text-transform: uppercase;
    color: #ffffff;
    background-color:#6fb048;
    cursor: pointer;
    border-radius: 2px;
    list-style: none;
    text-align: center;
    text-decoration: none;
    padding: 16px 22px;
    margin: 80px 222px 0 0;
}
footer {
    width: 1500px;
    margin: 100px 0 0;
    font-family: 'Roboto Regular', sans-serif;
    font-size: 13px;
    color: #83a7a5;
}
footer .wapik {
    width: 271px;
    float: left;
    padding-left: 222px;
}
footer .wapik h1 {
    font-family: Proxima Nova Bold;
    font-size: 22px;
    color: #0f5f5c;
    text-transform: uppercase;
    font-weight: bold;
    margin: 0 0 18px 0;
    }
footer .h {
    font-family: 'Roboto Regular', sans-serif;
    font-size: 13px;
    color: #0f5f5c;
    margin: 0 0 15px 0;
    font-weight: bold;
    text-decoration: none;
}
footer .tel{
    text-decoration: none;
    color: #0f5f5c;
    font-style: normal;
    margin: 0 0 18px 0;
    }
footer .wapik .as {
    text-decoration: none;
    color: #0f5f5c;
    font-style: normal;
    margin: 0 0 10px 0;
}
footer .wapik .zz {
    margin: 0 0 0 13px;
    text-decoration: none;
    color: #0f5f5c;
    font-style: normal;
    }
footer .company {
    width: 271px;
    float: left;
   }
footer ul {
    padding: 0;
    list-style: none;
}
footer li {
    margin-bottom: 18px;
}
footer a {
    font-family: 'Roboto Regular', sans-serif;
    font-size: 13px;
    color: #83a7a5;
    text-decoration: none;
}
footer h1 {
    font-family: 'Roboto Medium', sans-serif;
    font-size: 13px;
    color: #0f5f5c;
    margin: 0 0 20px;
    }
footer .others {
    width: 273px;
    float: left;
    }
footer .new {
    float: left;
    width: 240px;
    margin-right: 222px;

}
footer form{
    position: relative;

   }
footer .new input {
    border: none;
    border-radius: 2px;
    width: 225px;
    padding: 13px 0 13px 15px;
    font-family: 'Roboto Regular', sans-serif;
    font-size: 13px;
    color: #83a7a5;
    background-color:#eef1ec;
    margin: 0;
}
footer .new input::-webkit-input-placeholder { color: #83a7a5; }
footer .new img {
    position: absolute;
    right: 40px;
    top: 9px;
    padding: 0;
}
footer .all {
    font-size: 12px;
    clear: both;
    overflow: hidden;
    }
footer .all .line {
    margin: 42px 0 30px 224px;
    border-top: 1px solid #eef1ec;
    width: 1053px;
}
footer .all .text {
    margin-left: 222px;
    display: block;
    float: left;
}
footer .all .image {
    float: right;
    padding: 0 210px 15px 0;
}
footer .all .image img {
    padding-right: 10px;
}